# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv
venv/
ENV/
env/
.env

# Reports
report_*.json
report_*.html
report.json
report.html

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache

# Logs
pip-log.txt
pip-delete-this-directory.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
